div.a{
position:relative;
margin-left:25%;
margin-right:25%;
overflow:auto;
}
button[type="button"]{
font-size:18px;
font-family:"Times New Roman", sans-serif;
background-color:red;
padding:5px 10px;
border-radius:15px;
}
a{
color:white;
text-decoration:none;
}
div.b{
margin-top:50px;
}
div.c{
margin-top:25%;
}
button:hover{
background-color:dodgerblue;
}
a:hover{
color:black;
}