
div{
padding:10px;
border-bottom:1px solid black;
margin:0px;
background-color:blue;
}
ul{
list-style-type:none;
margin:0;
padding:0;
}
li{
display:inline-block;
padding:10px;
color:red;
background-color:white;
}
body{
padding:0px;
margin:0px;
}
.le{
float:right;
margin-right:40px;
}
a:hover{
background-color:yellow;
color:red;
}
a:active{
color:white;
background-color:red;
}