body{
background-color:rgba(0,0,255,0.1)
}
div.na{
border-bottom:1px solid black;
margin:0px;
background-color:dodgerblue;
}
ul{
list-style-type:none;
margin:0;
padding:0;
}
li{
display:inline-block;
padding:14px;
color:red;
background-color:white;
}
body{
padding:0px;
margin:0px;
}
.le{
float:right;
margin-right:40px;
}
li:hover{
background-color:yellow;
color:red;
}
a{
text-decoration:none;
}
.ri{
margin-left: 30px;
}
a:hover li{
background-color:blue;
color:white;
}