body,.A1{
background-color: rgba(0,0,255,0.1)
}
div.A1{
display:inline-block;
height:260px;
width:200px;c
padding:10px;
margin-left:60px;
margin-top:10px;
border:1px solid black;
}
.A,.B,.C{
padding:10px;
border:1px solid black;
width:100%;
}
img.A2{
height:250px;
width:195px;
}
@media(max-width:1260px){
	div.A1{
	margin-left:60px;
	height:250px;
	max-width:190px;
	}
	.A,.B,.C{
	max-width:90%;
	}
	img.A2{
	height:240px;
	width:185px;
	}
}
@media(max-width:1060px){
	div.A1{
	margin-left:20px:
	height:240px;
	width:170px;
	}
	img.A2{
	height:230px;
	width:165px;
	}
}
@media(max-width:980px){
.A,.B,.C{
max-width:980px;
}
div.A1{
margin-left:10px;
height:200px;
width:160px;
}
img.A2{
height:190px;
width:155px;
}
}